/* Style Sheet for Mp3 Bonez player */

/* WORDPRESS OVERRIDE */
.mp3-bonez {
	line-height: 1.0 !important;
	position:relative;
	opacity:0.4; /* During loading */
}

.mp3-bonez canvas {
	max-width: none;
}

.mp3-bonez .time {
	float:right;

	color:white;
	background-color:#3a3a3a;
	opacity: 0.5;
	margin: -20px -16px 0px 0px;
	font-size: 0.75em;
	height: 16px;
	padding-top:4px;
	padding-left: 4px;
	padding-right: 6px;	

	z-index:11;
	position:relative;
}

.mp3-bonez .button-container {

	padding:6px;
	padding-left:8px;
	margin-top:4px;

	/* Gradient Created using ColorZilla */
	background: #656565; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY1NjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYTNhM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #656565 0%, #3a3a3a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#656565), color-stop(100%,#3a3a3a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #656565 0%,#3a3a3a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #656565 0%,#3a3a3a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #656565 0%,#3a3a3a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #656565 0%,#3a3a3a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#656565', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-8 */

}

.mp3-bonez .button-container > .button {

	width:20px;
	height:24px;

	display:inline-block;
	vertical-align:middle;
	cursor:pointer;
}

.mp3-bonez .button-container > a {

	display:inline-block;
	vertical-align:middle;

	float:right;

	color: #FEFDFA;
	font-size:1.2em;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	text-decoration: none;
}

.mp3-bonez .mask {
	background-color:white;
	opacity:0.4;
	position: absolute;
	z-index:10;

	pointer-events: none;
}

.mp3-bonez .loading {
	position:absolute;
	font-family: "Ubuntu", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	opacity: 1 !important;
	z-index:40;
}

.mp3-bonez .clear {
	clear:both;
}